{##
 # Dropdown button
 #}
<div class="btn-group btn-dropdown {{ this.getDropDirection() }}" role="group">

  {% set showCaret = this.getShowCaret() %}
  {% set useCaretButton = this.getUseCaretButton() %}
  {% set dropDirection = this.getdropDirection() %}

  {% spaceless %}
    <button type="button"
            {% if this.hasName() %} name="{{ this.getName() }}"{% endif %}
            {% if this.hasValue() %} value="{{ this.getValue() }}"{% endif %}
            class="{{ this.getClass() }}"
            role="group"
            {% if not useCaretButton %}
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
            {% endif %}
            {% if this.getButtonTitle() %}
              title="{{ this.getButtonTitle() }}"
            {% endif %}>

      {{ this.displayCommentedData(this.getCommentedData()) }}

      {% set iconStyle = this.getParam('icon-style') %}
      {% if iconStyle %}<span><i class="{{ iconStyle }}"></i></span>{% endif %}

      {% set buttonLabel = t(this.getButtonLabel()) %}
      {% if buttonLabel|length > 0 %}<span>{{ buttonLabel|raw }}</span>{% endif %}
    </button>
    <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {% if useCaretButton %}
        <span class="caret"></span>
      {% else %}
        <span>
          {% if dropDirection == 'dropup' %}
            <i class="fa fa-angle-up"></i>
          {%  else %}
            <i class="fa fa-angle-down"></i>
          {% endif %}
        </span>
      {% endif %}
    </button>
  {% endspaceless %}

  {% if this.getAdditionalButtons() %}
    <ul class="dropdown-menu" role="menu">
      {% for button in this.getAdditionalButtons() %}
        <li>{{ button.display()|raw }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
