{##
 # Remove button
 #}
<div class="makeblank-wrapper {{ this.getStyle }}"
     data-toggle="popover"
     data-trigger="manual"
     data-placement="top auto"
     data-content="{{ this.getPopoverText() }}"
     data-html="true"
     data-help-id=""
     data-delay="0"
     data-keep-on-hover="1"
     data-original-title=""
     title="">
  <div class="separator"></div>
  <button type="button" class="{{ this.getStyle() }}" title="{{ t(this.getButtonLabel()) }}" tabindex="-1">
    <i class="fa fa-trash-o"></i>
  </button>
  <input type="checkbox" name="{{ this.getName() }}" value="1" tabindex="-1" />
</div>
