{##
 # Language label name cell
 #}

<div class="language-labels" v-pre="v-pre">

  <div class="label-name">

    {% if this.isSeveralLanguagesExists() %}
      <ul class="lng-marks">
        {% for code, lng in this.getLanguageMarks(this.entity) %}
          <li><span class="{{ lng.status }}">{{ code }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <span class="name">{{ this.entity.getName() }}</span>

  </div>

  <div class="label-edit" style="display: none;">

    <div class="lng-container">
      <div class="lng-title lng-title-default">{{ this.defaultLanguageObject.code|upper }}</div>
      <textarea
        {% if this.isDefaultLanguageNonEditable() %}
          readonly="readonly"
          class="form-control non-editable"
        {% else %}
          class="form-control"
          name="current[{{ this.entity.label_id }}]"
        {% endif %}
        lang="{{ this.defaultLanguageObject.code }}"
        xml:lang="{{ this.defaultLanguageObject.code }}"
        {% if this.defaultLanguageObject.r2l %} dir="rtl"{% endif %}>{{ this.getLabelDefaultValue(this.entity) }}</textarea>
    </div>

    {% if this.isTranslatedLanguageSelected() %}
      <div class="lng-container">
        <div class="lng-title">{{ this.translationLanguageObject.code|upper }}</div>
        <textarea
          name="translated[{{ this.entity.label_id }}]"
          lang="{{ this.translationLanguageObject.code }}"
          class="form-control"
          xml:lang="{{ this.translationLanguageObject.code }}"
          {% if this.translationLanguageObject.r2l %} dir="rtl"{% endif %}>{{ this.getLabelTranslatedValue(this.entity) }}</textarea>
      </div>
    {% endif %}

  </div>

  <div class="clear"></div>

</div>
