{##
 # Trial notice
 #}

<div class="trial-notice-block{% if not this.isPopup() %} alert alert-warning{% endif %}">
  {% if not this.isPopup() and this.isTrialPeriodExpired() %}
    <h2 class="title">{{ t('Your X-Cart trial has expired!') }}</h2>
  {% endif %}

  <div class="notice">
    {% if this.isTrialPeriodExpired() %}
      {{ t('You must register your X-Cart installation before using it for real sales. Please enter your license key in the field below or contact our Solution Advisors to get one.')|raw }}
    {% else %}
      {{ t('You must register your X-Cart installation before using it for real sales. Activate your existing license key or contact our Solution Advisors to get one.')|raw }}
    {% endif %}
  </div>

  {% if this.isTrialPeriodExpired() %}
    {% include 'trial_notice_v2/activate_key.twig' %}

    {% if not this.isPopup() %}
      <hr/>
      <div class="important">{{ t('This message can be removed only through activation of a premium license.') }}</div>
      <div class="faq">{{ t('Refer to X-Cart license agreement for further details.', {'licenseAgreementURL': this.getLicenseAgreementURL()})|raw }}</div>
    {% endif %}
  {% else %}
  <div class="trial-in-progress">
    {{ widget('XLite\\View\\Button\\Regular', label='Remind me on next sign-in', style='remind-on-next-sign-in', jsCode='popup.close();', attributes={'data-segment-click': 'Remind me on next sign-in'}) }}
    {{ widget('XLite\\View\\Button\\Regular', label='Contact X-Cart', style='purchase-license regular-main-button', jsCode='window.open(\'' ~ this.getPurchaseURL() ~ '\', \'_blank\');', attributes={'data-segment-click': 'Contact X-Cart'}) }}
  </div>

  <div class="register-license-key">
    <a href="#" class="open-license-key-form">{{ t('I have a license key') }}</a>
    {% include 'trial_notice_v2/activate_key.twig' %}
  </div>
  {% endif %}
</div>
