<h3>{{ t('Get your products found on Google in a few steps. Click the "%s" button to get started!') |format(t('Get Started')) }}</h3>

<div class="kk-wrapper">
	<div class="kk-box">
		<div class="kk-box-header">
			<div class="kk-img-container">
				<img src="https://msacdn.s3.amazonaws.com/images/logos/xcart/GoogleHeader-Logo.svg" alt="Google Logo" height="40" class="kk-google-img">
				<img src="https://msacdn.s3.amazonaws.com/images/logos/xcart/PoweredByKliken.png" alt="Powered by Kliken" class="kk-poweredby-img">
			</div>
		</div>

		<div class="kk-box-content">
			<h1>{{ t('Increase sales and revenue with Google Shopping Ads.') }}</h1>

			<p class="subhdr">{{ t('Use this X-Cart and Google Ads integration to:') }}</h5>
			<ul>
				<li>{{ t('Find more customers on Google') }}</li>
				<li>{{ t('Automate bidding to maximize sales for your marketing budget') }}</li>
				<li>{{ t('Keep your marketing and store in sync') }}</li>
				<li>{{ t('Create perfect shopping campaigns in minutes') }}</li>
			</ul>

			<a id="getstarted_btn" href="{{ this.getKlikenSignUpLink() }}">{{ t('Get Started') }}</a>
		</div>
	</div>
</div>
