{##
 # Forgot your password
 #}

<div class="recover-password-wrapper">
  <div class="recover-password-box">

    <h1>{{ this.getTitle() }}</h1>

    <div class="recover-password-message">
      <p>{{ this.getMessageFirstLine() }}</p>
      <p>{{ this.getMessageSecondLine() }}</p>
    </div>

    <form action="{{ url() }}" method="post" name="recover_password">
      <input type="hidden" name="target" value="recover_password" />
      <input type="hidden" name="action" value="recover_password" />
      {{ widget('\\XLite\\View\\FormField\\Input\\FormId') }}

      <table class="recover-password-form">

        <tr>
            <td class="email-field field"><input type="text" class="form-control" name="email" value="{{ this.email }}" size="32" maxlength="128" placeholder="{{ t('Email') }}" /></td>
        </tr>

        {% if this.noSuchUser %}
          <tr>
              <td class="error-message">{{ t('No such user') }}: {{ this.email }}</td>
          </tr>
        {% endif %}

        <tr class="buttons">
            <td>{{ widget('\\XLite\\View\\Button\\Submit', label=t('submit_restore_pass'), style='regular-main-button') }}</td>
        </tr>

      </table>

    </form>

  </div>
</div>
