{##
 # Product search form template
 #}

<div class="search-product-form">

  {% form '\\XLite\\View\\Form\\Product\\Search\\Customer\\Main' %}

  <div class="search-form">

    <table class="search-form-main-part">

      <tr>
        {{ widget_list('products.search.conditions.substring') }}
      </tr>

      <tr class="including-options-list">

        <td>

          <ul class="search-including-options">
            {{ widget_list('products.search.conditions.phrase') }}
          </ul>

        </td>

        <td class="less-search-options-cell hidden-xs hidden-sm{% if this.showAdvancedPanel() %} expanded{% endif %}">
            <a href="javascript:void(0);" class="less" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('Less search options') }}</a>
            <a href="javascript:void(0);" class="more" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('More search options') }}</a>
        </td>

    </table>


    {% if this.showAdvancedPanel() %}
      <table id="advanced_search_options" class="advanced-search-options" style="display: table;">
        {{ widget_list('products.search.conditions.advanced') }}
      </table>
    {% else %}
      <table id="advanced_search_options" class="advanced-search-options" style="display: none;">
        {{ widget_list('products.search.conditions.advanced') }}
      </table>
    {% endif %}
    
    <table class="search-form-main-part visible-xs visible-sm">
        <tr>
           {{ widget_list('products.search.conditions-responsive.substring') }}
        </tr>
        <tr>
          <td class="less-search-options-cell{% if this.showAdvancedPanel() %} expanded{% endif %}">
            <a href="javascript:void(0);" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('Less search options') }}</a>
            <a href="javascript:void(0);" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('More search options') }}</a>
          </td>  
        </tr>
    </table>

  </div> 
  
  
  {#<!-- <div class="search-form">
    
    <div class="search-form-main-part">
        <div class="">
            <div class="input-search">
                <list name="products.search.conditions.substring" />
            </div>
            <div class="less-search-options-cell">
                <a href="javascript:void(0);" onclick="javascript:core.toggleText(this,'{t(#Less search options#)}','#advanced_search_options');">{t(#More search options#)}</a>
            </div>
        </div>
        <div class="including-options-list">
            <ul class="search-including-options">
                <list name="products.search.conditions.phrase" />
            </ul>
        </div>
    </div>

    <table id="advanced_search_options" class="advanced-search-options">
      <list name="products.search.conditions.advanced" />
    </table>

  </div> -->#}
  
  
  

  {% endform %}

</div>

{{ widget('\\XLite\\View\\ItemsList\\Product\\Customer\\Search') }}
