{##
 # Attributes
 #}

{% include 'modules/XC/ProductVariants/variants/parts/javascript.twig' %}

{% spaceless %}
  {% form 'XLite\\Module\\XC\\ProductVariants\\View\\Form\\Product\\Modify\\Attributes' with {className: 'form-attributes'} %}
    <div class="{{ this.getBlockStyle() }}">
      <div class="header">
        <h2>{{ t('Product variants') }}</h2>
        <span>{{ t('Choose the optional attributes that your variants will be based on') }}</span>
        {{ widget('\\XLite\\View\\Tooltip', text=t('To set product variants you should select attributes with multiple options.'), isImageTag='true', className='help-icon') }}
      </div>

      {{ widget('\\XLite\\Module\\XC\\ProductVariants\\View\\ItemsList\\AttributesBase') }}
      <div class="content">
        <div class="buttons" data-attributes-title="{{ t('Create variants one by one') }}"
             data-no-attributes-title="{{ t('Save changes') }}">
          <div class="additional">
            {% include 'modules/XC/ProductVariants/variants/parts/create_variants_button.twig' %}
            <span class="or">{{ t('or') }}</span>
            {% if not this.getVariantsAttributes() %}
              {{ widget('\\XLite\\View\\Button\\Submit', style='main-button save-changes', label=t('Save changes')) }}
            {% endif %}
          </div>
          {% if this.getVariantsAttributes() %}
            {{ widget('\\XLite\\View\\Button\\Submit', style='main-button save-changes', label=t('Save changes')) }}
          {% endif %}
          {% if this.getVariantsAttributes() %}
            {{ widget('\\XLite\\View\\Button\\Simple', style='main-button cancel', label=t('Cancel')) }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endform %}
{% endspaceless %}
