{##
 # Attribute value (Select option)
 #}

{% if not option.isVariantAvailable() and isAffectingAttribute %}
  <optgroup label="{{ this.getOptionTitle(option) }}{{ this.getModifierTitle(option)|raw }}"></optgroup>
{% else %}
  <option {% if this.isSelectedValue(option) %} selected="selected" {% endif %} value="{{ option.id }}">{{ this.getOptionTitle(option) }}{{ this.getModifierTitle(option)|raw }}</option>
{% endif %}
