{##
 # Invoice totals
 #}

{{ widget_list('packing_slip.items.totals.before') }}
<td class="total-title empty"></td>
<td class="total-title">{{ t('Total')|raw }}:</td>
<td class="total-item">{{ this.getTotalQty() }}</td>
<td class="total-item">{{ this.getTotalShipQty() }}</td>
{{ widget_list('packing_slip.items.totals.after') }}
